<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block head_title %}BASE{% endblock head_title %}
        Base

    </title>
</head>
<body>
    hola como estas
    <nav>
        <ul>
            <li><a href="{% url 'inicio:inicio' %}">Inicio</a></li>
            <li><a href="{% url 'inicio:gaspetita' %}">Gragas</a></li>
            <li><a href="{% url 'registros:listado' %}">Listado</a></li>

        </ul>

    </nav>
    {% block contenido %}
    contenido base
    {% endblock contenido %}

</body>
</html>